{%extends "EcommerceEcommerceBundle::layout.html.twig"%}
{% block content %}
    
  
        
       <ul class="top-logos">
           <li><img width="151" height="55" src="{{asset('ressources/images/somef.png')}}" alt=""></li>
           <li><img src="{{asset('ressources/images/shneider.png')}}" alt=""></li>
           <li><img src="{{asset('ressources/images/Philips.png')}}" alt=""></li>
           <li><img src="{{asset('ressources/images/Legrand.png')}}" alt=""></li>
           <li><img src="{{asset('ressources/images/Chint.png')}}" alt=""></li>
           <li><img src="{{asset('ressources/images/makita.png')}}" alt=""></li>
       </ul>
       <div class="hero-area">
           <div id="iview">
           
           
                     <div  data-iview:image="{{asset('ressources/images/maxresdefault.jpg')}}"  data-iview:transition="zigzag-drop-top,zigzag-drop-bottome">
             
             <div class="iview-caption" data-x="290" data-y="214" data-width="250" data-height="200" data-transition="fade" data-speed="700"><h1 class="philips"><img src="{{asset('ressources/images/makita.png')}}" alt=""></h1></div>
             
             <div class="iview-caption" data-x="70" data-y="50" data-width="155" data-height="220" data-transition="wipeRight" data-speed="700"><img src="{{asset('ressources/images/pic1.jpg')}}" alt=""></div>
             
             <div class="iview-caption" data-x="230" data-y="50" data-width="155" data-height="220" data-transition="wipeRight" data-speed="700"><img src="{{asset('ressources/images/pic2.jpg')}}" alt=""></div>
             
             <div class="iview-caption" data-x="390" data-y="50" data-width="155" data-height="220" data-transition="wipeRight" data-speed="700"><img src="{{asset('ressources/images/pic3.jpg')}}" alt=""></div>
             
             <div class="iview-caption" data-x="550" data-y="50" data-width="155" data-height="220" data-transition="wipeRight" data-speed="700"><img src="{{asset('ressources/images/pic4.jpg')}}" alt=""></div>
             
             
    </div>           
                       
                 
                       
 <div  data-iview:image="{{asset('ressources/images/maxresdefault.jpg')}}"  data-iview:transition="zigzag-drop-top,zigzag-drop-bottome">
             
             <div class="iview-caption" data-x="247" data-y="241" data-width="299" data-height="261" data-transition="fade" data-speed="700"><h1 class="philips"><img src="{{asset('ressources/images/Chint.png')}}" alt=""></h1></div>
             
             <div class="iview-caption" data-x="100" data-y="56" data-width="150" data-height="200" data-transition="wipeRight" data-speed="700"><img src="{{asset('ressources/images/NB1.jpg')}}" alt=""></div>
             
             <div class="iview-caption" data-x="275" data-y="56" data-width="150" data-height="200" data-transition="wipeRight" data-speed="700"><img src="{{asset('ressources/images/eB.jpg')}}" alt=""></div>
             
             <div class="iview-caption" data-x="450" data-y="56" data-width="150" data-height="200" data-transition="wipeRight" data-speed="700"><img src="{{asset('ressources/images/NBH8.jpg')}}" alt=""></div>
             
             
             
             
    </div>
                                  
                                   
                                         
                                                     
                       
                       
                        <div  data-iview:image="{{asset('ressources/images/maxresdefault.jpg')}}"  data-iview:transition="zigzag-drop-top,zigzag-drop-bottome">
             
             <div class="iview-caption" data-x="247" data-y="241" data-width="299" data-height="261" data-transition="fade" data-speed="700"><h1 class="philips">DOMUS</h1></div>
             
             <div class="iview-caption" data-x="100" data-y="56" data-width="150" data-height="200" data-transition="wipeRight" data-speed="700"><img src="{{asset('ressources/images/Domus1.jpg')}}" alt=""></div>
             
             <div class="iview-caption" data-x="275" data-y="56" data-width="150" data-height="200" data-transition="wipeRight" data-speed="700"><img src="{{asset('ressources/images/Domus2.jpg')}}" alt=""></div>
             
             <div class="iview-caption" data-x="450" data-y="56" data-width="150" data-height="200" data-transition="wipeRight" data-speed="700"><img src="{{asset('ressources/images/Domus3.jpg')}}" alt=""></div>
             
             
             
             
    </div>
           
         <div  data-iview:image="ressources/images/maxresdefault.jpg"  data-iview:transition="zigzag-drop-top,zigzag-drop-bottome">
             
             <div class="iview-caption" data-x="247" data-y="214" data-width="250" data-height="200" data-transition="fade" data-speed="700"><h1 class="philips">PHILIPS</h1></div>
             
             <div class="iview-caption" data-x="70" data-y="100" data-width="150" data-height="200" data-transition="wipeRight" data-speed="700"><img src=""{{asset('ressources/images/5.5W%20MASTER%20LED.jpg')}}" alt=""></div>
             
             <div class="iview-caption" data-x="230" data-y="100" data-width="150" data-height="200" data-transition="wipeRight" data-speed="700"><img src="{{asset('ressources/images/ampoule-a-led-philips-master-ledspotmv-gu10-4-5w-2.jpg')}}" alt=""></div>
             
             <div class="iview-caption" data-x="390" data-y="100" data-width="150" data-height="200" data-transition="wipeRight" data-speed="700"><img src="{{asset('ressources/images/LEDspot%20PAR20.jpg')}}" alt=""></div>
             
             <div class="iview-caption" data-x="550" data-y="100" data-width="150" data-height="200" data-transition="wipeRight" data-speed="700"><img src="{{asset('ressources/images/philips-mled.jpg')}}" alt=""></div>
             
             
    </div>
    
    
    

   

</div>

             
             
        
          
          
           
           <div class="services">
               <ul>
                   <li><img class="shiping" src="{{asset('ressources/images/shiping.png')}}" alt=""><span class="title ship-title">LIVRAISON</span>
                   <p>Livraison GRATUITE en Tunisie</p>
                   
                   </li>
                   <li>
                   <span class="title map-title">VISITEZ NOTRE BOUTIQUE</span>
                   <a  rtst href="{{path('contactus')}})"> <img src="{{asset('ressources/images/map.png')}}" alt=""></a>
                   </li>
                   <li>
                   
                   <img src="" alt="">
                   <span class="title">Nous Contacter</span>
                   <p>
            
                       Tél : 71 385 929 <br>
                       GSM: 98 248 408 <br>
                       Fax : 71 388 509 <br>
                  </p>
                  <span class="tel"></span> 
                   </li>
               </ul>
           </div>
           </div>

       <h2></h2>
       <div style="clear:both;"></div>
                  <div class="slogon">
              <h2> <i class="fa fa-quote-left quote-left"></i>&nbsp;&nbsp;&nbsp; Tout notre savoir-faire en matière de dépannage et d’installation électrique est mis à votre disposition pour la construction ou la rénovation de bâtiments. &nbsp;&nbsp;&nbsp; <i class="fa fa-quote-right quote-right"></i></h2>
           </div>
       <div class="product-area">
           <div class="box left-side">
           
             <div class="title-block">
                  <h3>CATÉGORIES</h3>
              </div>
              <ul>
                  <li><a href="">Electricité industrielle </a></li>
                  <li><a href="">Eclairage</a></li>
                  <li><a href="">Mesure & controle</a></li>
                  <li><a href="">Cablage éléctrique</a></li>
                  <li><a href="">Electricité de batiments</a></li>
                  <li><a href="">Fixation</a></li>
                  <li><a href="">Divers</a></li>
                  <li><a href="">Outillages</a></li>
              </ul>
             
           </div>
           <div class="main-content ">
             
             <div class="box products ">
                <div class="title-block ">
                     <h3>NOUVEAUX PRODUITS</h3>
                 </div>
                 <ul>
                     
                     
                   {% render(controller('EcommerceEcommerceBundle:Default:newprod')) %}
               </ul>
             </div>             
  
                        <div class="box products">
                <div class="title-block ">
                     <h3>TOP VENTES</h3>
                 </div>
        <ul>
        
        {% render(controller('EcommerceEcommerceBundle:Default:topvente')) %}
           </ul>
                  </div>        
           </div>
           
       </div>
       
       <div style="clear:both;"></div>
       <div class="footer-services">
               <h2 class="center-lined ">Plus de raison pour magasiner chez euroelec</h2>
               <div class="col-1-of-4">
                   <img src="{{asset('ressources/images/price.png')}}" alt="">
                   <span>Nous égalons les prix</span>
               </div>
               <div class="col-1-of-4">
                   <img src="{{asset('ressources/images/brands.png')}}" alt="">
                   <span>Meilleures marques internationales</span>
               </div>
               <div class="col-1-of-4">
                   <img src="{{asset('ressources/images/free-shiping.png')}}" alt="">
                   <span>Livraison rapide et gratuite</span>
               </div>
               <div class="col-1-of-4">
                   <img src="{{asset('ressources/images/quality.png')}}" alt="">
                   <span>Grand choix de produits</span>
               </div>

       </div>
       <div style="clear:both;"></div>
       <div class="footer-brands">
               <h2 class="center-lined">
                   Le choix des plus grandes marques
               </h2>
<div id="liquid1" class="liquid">
	<span class="previous"></span>
	<div class="wrapper">
		<ul>
			<li><a href="#" title="image 01"><img src="{{asset('ressources/images/makita-logo-slider.png')}}" width="88" height="30" alt="image 01" border="0" /></a></li>
			<li><a href="#" title="image 01"><img src="{{asset('ressources/images/somef.png')}}" width="120" height="50" alt="image 01" border="0" /></a></li>
			<li><a href="#" title="image 02"><img src="{{asset('ressources/images/philips-logo-slider.png')}}" width="88" height="30" alt="image 02" border="0" /></a></li>
			<li><a href="#" title="image 03"><img src="{{asset('ressources/images/siemens-logo-slider.png')}}" width="88" height="30" alt="image 03" border="0" /></a></li>
			<li><a href="#" title="image 04"><img src="{{asset('ressources/images/varta-logo-slider.png')}}" width="88" height="30" alt="image 04" border="0" /></a></li>
			<li><a href="#" title="image 05"><img src="{{asset('ressources/images/shneider-logo-slider.png')}}" width="88" height="30" alt="image 05" border="0" /></a></li>
			<li><a href="#" title="image 06"><img src="{{asset('ressources/images/legrand-logo-slider.png')}}" width="88" height="30" alt="image 06" border="0" /></a></li>
			<li><a href="#" title="image 07"><img src="{{asset('ressources/images/chint-logo-slider.png')}}" width="88" height="30" alt="image 07" border="0" /></a></li>
			<li><a href="#" title="image 01"><img src="{{asset('ressources/images/makita-logo-slider.png')}}" width="88" height="30" alt="image 01" border="0" /></a></li>
			<li><a href="#" title="image 01"><img src="{{asset('ressources/images/somef1.png')}}" width="60" height="60" alt="image 01" border="0" /></a></li>
			<li><a href="#" title="image 02"><img src="{{asset('ressources/images/philips-logo-slider.png')}}" width="88" height="30" alt="image 02" border="0" /></a></li>
			<li><a href="#" title="image 03"><img src="{{asset('ressources/images/siemens-logo-slider.png')}}" width="88" height="30" alt="image 03" border="0" /></a></li>
			<li><a href="#" title="image 04"><img src="{{asset('ressources/images/varta-logo-slider.png')}}" width="88" height="30" alt="image 04" border="0" /></a></li>
			<li><a href="#" title="image 05"><img src="{{asset('ressources/images/shneider-logo-slider.png')}}" width="88" height="30" alt="image 05" border="0" /></a></li>
			<li><a href="#" title="image 06"><img src="{{asset('ressources/images/legrand-logo-slider.png')}}" width="88" height="30" alt="image 06" border="0" /></a></li>
			<li><a href="#" title="image 07"><img src="{{asset('ressources/images/chint-logo-slider.png')}}" width="88" height="30" alt="image 07" border="0" /></a></li>
			
		</ul>
	</div>
	<span class="next"></span>
</div>
       </div>
   

   
{% endblock %}